body{
	background-image: url(https://data.whicdn.com/images/331949847/original.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#content{
	padding: 3% 3%;
}
main{
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
section{
	padding: 0 5%;
}
section>p{
	font-size: 20px;
	text-align: center;
}
#wrapper{
	background-color: rgba(255, 255, 255, 0.7);
	
	
}
h1{
	font-size: 50px;
}
h2{
	text-decoration: underline;
	text-align: center;
	background-color: rgba(51,51,51,0.6);
	color: #FFDF00;
	padding: 2%;

}
footer{
	background-color: rgba(255, 255, 255, 0.7);
	padding-top: 2%;
	text-align: center;
}
img{
	width: 100%;
	height: 100%;
}
ul li{
	font-size: 20px;
}
ul:first-child {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav{
	background-color: rgb(51,51,51);
  	overflow: hidden;
	width: 99%;
  	position: absolute;
    top: 1%;
}
nav > ul > li {
  display: inline;
  float: left;
}
nav a:link{
	color: #FFDF00;/*c#5C7fa3*/
}
nav a:visited{
	color: white;
}
nav a:hover{
	color: #FFDF00;
}
a {
   float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  
}