* {
	box-sizing: border-box;
}
body{
	background-color: #B8DBED;
	
	color: #666;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#wrapper{
	background-color: #90C7E3;
	background-image: linear-gradient(to bottom, #FFF, #90C7E3);
	background-repeat: no-repeat;
}
header{
	background-color: #003;/*bgc#003*/
	color: #fff;/*c#fff*/
	text-align: center;/*txav*/
}
header a{
	text-decoration: none;/*tdn*/
}
header a:link{
	color: #fff;/*c#fff*/
}
header a:visited{
	color: #fff;/*c#fff*/
}
header a:hover{
	color: #90C7E3;/*c#90C7E3*/
}
nav{
	/*background-color: #90c7e3;*/
	/*float: left;/*fl*/
	text-align: center;/*tac*/
	font-size: 120%;/*fz120%*/
	font-weight: bold;/*fwb*/
	padding: 0;/*p1.em*/
}
nav ul{
	list-style-type: none;/*listn*/ 
	margin: 0;/*m0*/
	padding-left: 0;/*pl0*/  
	font-size: 1.2em;/*fz1.2em*/ 
}
nav li{
	border-bottom: 1px solid #003;/*bb1pxsolid#003*/
}
nav a{
	font-weight: bold;/*fwb*/
	padding: 10px;/*p10*/
	text-decoration: none;/*tdn*/

}
nav a:link{
	color: #5C7fa3;/*c#5C7fa3*/
}
nav a:visited{
	color: #344873;/*c#344873*/
}
nav a:hover{
	color: #a42A2a/*c#a42A2a*/
}
main{
	background-color: #fff;/*bgc#fff*/
	display: block;
	padding-left: 30px;
	padding: 1px 20px 20px 30px;/*p1-20-20-30*/
	overflow: auto;
}
main ul{

	list-style: none;
}
h1,h2,h3,footer{
	font-family: Georgia, "Times New Roman", serif;
}
h1{
	letter-spacing: .25em;/*lts.25em*/
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 0.5em;/*pt0.5em*/
	padding-bottom: 0.5em;/*pb0.5em*/
}
h2{
	color: #39c;
	text-shadow: 1px 1px 1px#ccc;
}

dt{
	color: #003;
}
footer{
	background-color: #fff;/*bgc#fff*/
	font-size: 75%;
	font-style: italic;
	text-align: center; 
	padding: 20px;

}
.resort{
	color: #5C7fa3;
	font-weight: bold;
}
#contact{
	font-size: 90%;
}
#homehero{
	height: 300px;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/coast2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#yurthero{
	height: 300px;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/yurt.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#trailhero{
	height: 300px;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/trail.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;

}
@media (min-width: 600px) {
	nav ul{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	nav li{
		border-bottom: none;
	}
	section{
		padding-left: 2em;
		padding-right: 2em;
	}
	.content main{
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr 1fr;
	}
	h2{
			grid-row: 1/2; grid-column: 1/5;
		}
		section{
			grid-row: 2/3; grid-column: auto;
		}
		#special{
			grid-row: auto; grid-column: 1/5;
		}
		footer{
			grid-row: auto; grid-column: 1/5;
		}
}
@media (min-width: 1024px){
	nav ul{
		display: flex;
		flex-flow: column;
		padding-top: 1em;
	}
	nav{
		text-align: left;
		padding-left: 1em;
	}
	#wrapper{
		margin: auto;
		width: 80%;
		border: 1px solid #000033;
		box-shadow: 1px 1px #000033;
		display: grid;
		grid-template-columns: 180px auto;
		grid-template-rows: auto;
	}
	header{
		grid-row: 1/2; grid-column: 1/3;

	}
	nav{
		grid-row: 2/5; grid-column: 1/2;
	}
	div{
		grid-row: 2/3; grid-column: 2/3;
	}
	main{
		grid-row: 3/4; grid-column: 2/3;
	}
	footer{
		grid-row: 4/5; grid-column: 2/3;
	}
}