@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body,
html {
  height: 100%;
}

body {
  font-family: "Montserrat", "sans-serif";
  margin: 0;
}

body #bg {
  -webkit-clip-path: polygon(100% 0, 100% 81%, 59% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 81%, 59% 100%, 0 100%, 0 0);
  background-color: #023867;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 800px) {
  body #bg {
    -webkit-clip-path: polygon(0 0, 82% 0, 50% 100%, 0% 100%);
            clip-path: polygon(0 0, 82% 0, 50% 100%, 0% 100%);
  }
}

body header a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card";
  }
}

main section#card {
  background: #ffffff;
  padding: 20px;
  margin: 1em auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 80%;
}

@media (min-width: 800px) {
  main section#card {
    grid-area: card;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1em;
  }
}

main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main ul li {
  margin-bottom: 10px;
}

main ul li span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #3aa1fb;
  border-radius: 50%;
  margin-right: 10px;
}

main ul li strong {
  display: inline-block;
  margin-left: 40px;
}

main section#primary {
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

@media (min-width: 800px) {
  main section#primary {
    grid-area: primary;
    text-align: left;
    margin: 4em 0 0 4em;
  }
}

main h1 {
  font-size: 2em;
  margin-top: 10px;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  main h1 {
    width: 30%;
    font-size: 4em;
    line-height: 0.9em;
  }
}

main a {
  color: #023867;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fcae28;
  display: inline-block;
  text-align: center;
  margin: 30px auto 0 auto;
  padding: 15px;
}

@media (min-width: 800px) {
  main a {
    padding: 15px 60px;
  }
}
/*# sourceMappingURL=main.css.map */