@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$colors: (
  primary: #023867,
  primary-light: lighten(#023867, 40%),
  accent: #fcae28,
);

$font-main: "Montserrat", "sans-serif";
$padding: 15px;
$borders: 15px;

$tablet: 800px;
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
// @function function-name($args) {
//   @return value-to-be-returned;
// }

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body,
html {
  height: 100%;
}
body {
  font-family: $font-main;
  margin: 0;

  #bg {
    clip-path: polygon(100% 0, 100% 81%, 59% 100%, 0 100%, 0 0);
    background-color: color(primary);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    @include tablet {
      clip-path: polygon(0 0, 82% 0, 50% 100%, 0% 100%);
    }
  }

  header a {
    color: #ffffff;
    text-decoration: none;
    padding: $padding;
    display: block;
    text-transform: uppercase;
  }
}
main {
  @include tablet {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "primary card";
  }
  section#card {
    background: #ffffff;
    padding: 20px;
    margin: 1em auto;
    border-radius: $borders;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 80%;

    @include tablet {
      grid-area: card;
      height: fit-content;
      align-self: center;
      margin: 1em;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 10px;

      span {
        //for the circles
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: color(primary-light);
        border-radius: 50%;
        margin-right: 10px;
      }
      strong {
        display: inline-block;
        margin-left: max(40px);
      }
    }
  }
  section#primary {
    color: #ffffff;
    padding: $padding;
    text-align: center;

    @include tablet {
      grid-area: primary;
      text-align: left;
      margin: 4em 0 0 4em;
    }
  }
  h1 {
    font-size: 2em;
    margin-top: 10px;
    text-transform: uppercase;

    @include tablet {
      width: 30%;
      font-size: 4em;
      line-height: 0.9em;
    }
  }
  a {
    color: color(primary);
    border-radius: $borders;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: color(accent);
    display: inline-block;
    text-align: center;
    margin: 30px auto 0 auto;
    padding: $padding;

    @include tablet {
      padding: $padding $padding * 4;
    }
  }
}
