* {
	box-sizing: border-box;
}
body{
	background-color: #B8DBED;
	
	color: #666;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#wrapper{
	background-image: linear-gradient(to bottom, #FFF, #90C7E3);
	background-repeat: no-repeat;
	border: 1px solid #003;
	box-shadow: 3px 3px 3px #333;
	margin: auto;
	min-width: 960px;
	max-width: 2048px;
	width: 80%;
}
header{
	background-color: #003;/*bgc#003*/
	color: #fff;/*c#fff*/
	height: 120px;/*he120*/
	padding-top: 30px;/*pt30*/
	padding-left: 3em;/*pl3em*/
	text-align: center;/*txav*/
}
header a{
	text-decoration: none;/*tdn*/
}
header a:link{
	color: #fff;/*c#fff*/
}
header a:visited{
	color: #fff;/*c#fff*/
}
header a:hover{
	color: #90C7E3;/*c#90C7E3*/
}
nav{
	/*background-color: #90c7e3;*/
	float: left;/*fl*/
	font-size: 120%;/*fz120%*/
	font-weight: bold;/*fwb*/
	padding: 1.5em 1.5em 1.5em .5em;/*p1.em*/
	width: 160px;/*w160*/
}
nav ul{
	list-style-type: none;/*listn*/ 
	margin: 0;/*m0*/
	padding-left: 0;/*pl0*/  
	font-size: 1.2em;/*fz1.2em*/ 
}
nav a{
	font-weight: bold;/*fwb*/
	padding: 10px;/*p10*/
	text-decoration: none;/*tdn*/

}
nav a:link{
	color: #5C7fa3;/*c#5C7fa3*/
}
nav a:visited{
	color: #344873;/*c#344873*/
}
nav a:hover{
	color: #a42A2a/*c#a42A2a*/
}
main{
	background-color: #fff;/*bgc#fff*/
	margin-left: 190px;/*ml190*/
	padding: 1px 20px 20px 30px;/*p1-20-20-30*/
}
h1,h2,h3,footer{
	font-family: Georgia, "Times New Roman", serif;
}
h1{
	font-size: 3em;/*fz3em*/
	letter-spacing: .25em;/*lts.25em*/
	margin-bottom: 0;
	margin-top: 0;
}
h2{
	color: #39c;
	text-shadow: 1px 1px 1px#ccc;
}
main ul{

	list-style: none;
}
dt{
	color: #003;
}
footer{
	background-color: #fff;/*bgc#fff*/
	font-size: 75%;
	font-size: 75%;
	font-style: italic;
	margin-left: 190px;/*ml190*/
	text-align: center; 
	padding: 20px;

}
.resort{
	color: #5C7fa3;
	font-weight: bold;
}
#contact{
	font-size: 90%;
}
#homehero{
	height: 300px;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/coast2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;/*ml190*/
}
#yurthero{
	height: 300px;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/yurt.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;/*ml190*/
}
#trailhero{
	height: 300px;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/trail.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;/*ml190*/

}