body{
	background-color: #fff;
	color: #666;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header{
	background-color: #003;
	color: #fff;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/sunset.jpg);
	background-position: right;
	background-repeat: no-repeat;
	line-height: 400%;
	text-indent: 1em;
}
nav{
	background-color: #90c7e3;
	font-weight: bold;
}
nav a{
	text-transform: none;
}
h1,h2,h3,footer{
	font-family: Georgia, "Times New Roman", serif;
}
h1{
	margin-bottom: 0;
}
h2{
	color: #39c;
}
ul{
	/*list-style-image: url(../images/pacific/marker.gif);*/
}
dt{
	color: #003;
}
footer{
	font-size: 75%;
	text-align:center;  /*isn't aligning to center*/
	font-style: italic;

}
.resort{
	color: #5C7fa3;
	font-weight: bold;
}
#contact{
	font-size: 90%;
}