<h1> Index Of /webd152/chapter02/practice_html </h1>
<div>
	<a href="https://claudiceinguanzo.bitbucket.io">Parent Directory</a>
</div>	
<div>
	<a href="blockquote.html/">blockquote.html/</a>
</div>
<div>
	<a href="descriptive_list.html/">descriptive_list.html/</a>
</div>
<div>
	<a href="heading.html/">heading.html/</a>
</div>
<div>
	<a href="line_brk_hrule.html/">line_brk_hrule.html/</a>
</div>
<div>
	<a href="ordered_list.html/">ordered_list.html/</a>
</div>
<div>
	<a href="paragraph.html/">paragraph.html/</a>
</div>
<div>
	<a href="phrase_elements.html/">phrase_elements.html/</a>
</div>
<div>
	<a href="unordered_list.html/">unordered_list.html/</a>
</div>