/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.nav, .boxes, .footer form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}
.nav {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.nav a {
	width: 23%;
}
.boxes div {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 250px;
	        flex: 1 1 250px;
	margin: 10px;
	border-radius: 5px;
	padding: 10px 10px 0 10px;
	background-color: rgba(0,0,0,.1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
 }
.boxes .more {
	margin-top: auto;
}
.footer .copyright {
	-webkit-box-flex: 2;
	    -ms-flex: 2 1 500px;
	        flex: 2 1 500px;
	margin-right: 30px;
}
.footer .signup {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 250px;
	        flex: 1 1 250px;
}
.signup label {
	width: 100%;
}
.signup input[type="email"] {
	border-radius: 4px 0 0 4px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.signup input[type="submit"] {
 	border-radius: 0 4px 4px 0;
	padding: 0 10px;
}
@media (max-width: 500px) {
	.nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
		        flex-flow: column;
 	}
 	 .nav a {
		width: 100%;
		margin-bottom: 2px;
	}
}