body {
  background-color: #d9b68b;
  font-family: "Domine", serif;
  font-weight: 700;
  text-shadow: 1px 1px black;
  color: #442008;
  font-size: 1.25rem;
}

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #442008;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid yellow;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

header h1 {
  font-size: 4.25rem;
  background-color: #927347;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

nav {
  width: 100%;
  padding: 0.75% 0.25% 0.75% 0%;
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 0px 0px 0px 0px;
}

nav a {
  color: #442008;
  text-decoration: none;
  border-right: 1px solid #927347;
  padding: 0.75% 1.25%;
}

a:hover {
  color: #927347;
}

nav li {
  display: inline;
}

nav li a {
  text-align: center;
}

footer {
  font-size: 0.95rem;
  font-style: italic;
  text-align: center;
  padding-top: 5%;
}

.btn {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #442008;
}

.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1516196252840-f9947d2bcb7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .display-4,
.jumbotron .hours {
  padding-left: 2%;
  width: 40%;
  background-color: rgba(138, 108, 70, 0.9);
}

#animatePages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10%;
}

#animatePages h2 {
  color: #442008;
  padding: 0 0 5% 15%;
}

#animatePages a img {
  width: 90%;
  padding: 2% 10%;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

#animatePages a img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 80%;
}

::-webkit-input-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.box2 .formBox {
  width: 50%;
  background-color: #927347;
  padding: 2em;
  margin: 3% 2%;
}

.cafe img,
.cafe p {
  width: 90%;
  padding: 6% 2em 0 2em;
  margin: 0 3% 0 2%;
  text-align: center;
}

.cafe p {
  background-color: #927347;
  width: 80%;
  margin: 0 1% 0 7%;
  padding-bottom: 2em;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 2.5rem;
}

.flex-container .hot {
  background-color: #927347;
  padding: 5%;
  margin: 1% 1% 1% 7.5%;
}

.flex-container .cold {
  background-color: #927347;
  padding: 5%;
  margin: 1%;
}

.flex-container .food {
  background-color: #927347;
  padding: 5% 1% 5% 2%;
  margin: 1%;
  width: 28%;
}

.flex-container h2 {
  text-align: center;
}

.hot h2 img,
.cold h2 img,
.food h2 img {
  height: 150px;
  width: 150px;
  border-radius: 50% 50% 50% 50%;
}

@media only screen and (min-width: 300px) {
  .box2,
  .flex-container,
  #animatePages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-container .hot {
    margin-left: 0;
  }
  .flex-container .hot,
  .flex-container .cold,
  .flex-container .food {
    width: 90%;
    margin-left: 5%;
  }
  .jumbotron .display-4,
  .jumbotron .hours {
    width: 100%;
  }
  .box2 .formBox {
    width: 95%;
  }
  .cafe p {
    width: 83%;
  }
  .cafe img {
    width: 95%;
    padding-left: 5%;
  }
}

@media only screen and (min-width: 460px) {
  .flex-container ul {
    padding-left: 25%;
  }
  #animatePages {
    width: 70%;
  }
  img {
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 750px) {
  .jumbotron .display-4,
  .jumbotron .hours {
    width: 65%;
  }
  .flex-container .hot,
  .flex-container .cold,
  .flex-container .food {
    margin: 0.25% 15%;
    width: 75%;
    padding-left: 3%;
  }
  .cafe p {
    width: 85%;
  }
  #animatePages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 95%;
    margin-left: 3%;
  }
}

@media only screen and (min-width: 960px) {
  .box2,
  .flex-container,
  #animatePages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-container .hot,
  .flex-container .cold,
  .flex-container .food {
    margin: 3% 0.5%;
    width: 80%;
    padding: 5% 0;
  }
  .flex-container ul {
    padding-left: 10%;
  }
  .cafe {
    width: 100%;
  }
  .cafe p {
    padding: 2em 1%;
    width: 82%;
  }
  .jumbotron .display-4,
  .jumbotron .hours {
    width: 55%;
  }
}

@media only screen and (min-width: 1200px) {
  .jumbotron {
    padding-right: 0;
  }
  .jumbotron .display-4,
  .jumbotron .hours {
    padding-left: 2%;
    width: 40%;
  }
  #animatePages {
    padding-left: 10%;
  }
  #animatePages a img {
    width: 100%;
  }
  .flex-container .hot,
  .flex-container .cold,
  .flex-container .food {
    padding: 2em;
    margin: 2%;
  }
  .flex-container .hot,
  .flex-container .cold {
    padding-left: 7%;
  }
  .flex-container .hot h2,
  .flex-container .cold h2 {
    padding-right: 15%;
  }
  .cafe p {
    padding: 2em 3%;
    width: 85%;
  }
}
/*# sourceMappingURL=final.css.map */