$colors: (
  primary: #d9b68b,
  accent: #927347,
  text: #442008,
);
$padding: 2em;
$header: 4.25rem;
$text: 1.25rem;
$secondHeader: 2rem;
$border_readius: 50% 50% 50% 50%;
@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  background-color: color(primary);
  font-family: "Domine", serif;
  font-weight: 700;
  text-shadow: 1px 1px black;
  color: color(text);
  font-size: $text;
}
//this is for the accesibility for when you click tab
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: color(text);
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid yellow;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

//header
header h1 {
  font-size: $header;
  background-color: color(accent);
  text-align: center;
}
h2 {
  font-size: $secondHeader;
}

//nav
nav {
  width: 100%;
  padding: 0.75% 0.25% 0.75% 0%;
  display: inline-block;

  ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
  }
  a {
    color: color(text);
    text-decoration: none;
    border-right: 1px solid color(accent);
    padding: 0.75% 1.25%;
  }
}
a:hover {
  color: color(accent);
}

nav li {
  display: inline;
  a {
    text-align: center;
  }
}
footer {
  font-size: 0.95rem;
  font-style: italic;
  text-align: center;
  padding-top: 5%;
}
.btn {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: color(text);
}
//index page
.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1516196252840-f9947d2bcb7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  .display-4,
  .hours {
    padding-left: 2%;
    width: 40%;
    background-color: rgba(138, 108, 70, 0.9);
  }
}
#animatePages {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  h2 {
    color: color(text);
    padding: 0 0 5% 15%;
  }

  a img {
    width: 90%;
    padding: 2% 10%;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
  }
  a img:hover {
    transform: scale(1.15);
    opacity: 80%;
  }
}

//contact page
::placeholder {
  color: black;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"],
select,
textarea {
  width: 100%;
  padding: 12px;
  background-color: color(input);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.box2 {
  display: flex;
  flex-direction: row;

  .formBox {
    width: 50%;
    background-color: color(accent);
    padding: $padding;
    margin: 3% 2%;
  }
}

.cafe img,
.cafe p {
  width: 90%;
  padding: 6% $padding 0 $padding;
  margin: 0 3% 0 2%;
  text-align: center;
}
.cafe p {
  background-color: color(accent);
  width: 80%;
  margin: 0 1% 0 7%;
  padding-bottom: $padding;
}

//menu page
.flex-container {
  display: flex;
  flex-direction: row;
  line-height: 2.5rem;
  .hot {
    background-color: color(accent);
    padding: 5%;
    margin: 1% 1% 1% 7.5%;
  }

  .cold {
    background-color: color(accent);
    padding: 5%;
    margin: 1%;
  }

  .food {
    background-color: color(accent);
    padding: 5% 1% 5% 2%;
    margin: 1%;
    width: 28%;
  }
  h2 {
    text-align: center;
  }
}
.hot h2 img,
.cold h2 img,
.food h2 img {
  height: 150px;
  width: 150px;
  border-radius: 50% 50% 50% 50%;
}

@media only screen and (min-width: 300px) {
  //for all the flex boxes
  .box2,
  .flex-container,
  #animatePages {
    display: flex;
    flex-direction: column;
  }

  //menu page
  .flex-container {
    .hot {
      margin-left: 0;
    }
    .hot,
    .cold,
    .food {
      width: 90%;
      margin-left: 5%;
    }
  }

  //index page
  .jumbotron {
    .display-4,
    .hours {
      width: 100%;
    }
  }

  //contact us page
  .box2 {
    .formBox {
      width: 95%;
    }
  }
  .cafe {
    p {
      width: 83%;
    }
    img {
      width: 95%;
      padding-left: 5%;
    }
  }
}

@media only screen and (min-width: 460px) {
  .flex-container {
    ul {
      padding-left: 25%;
    }
  }
  #animatePages {
    width: 70%;
  }
  img {
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 750px) {
  .jumbotron {
    .display-4,
    .hours {
      width: 65%;
    }
  }

  .flex-container {
    .hot,
    .cold,
    .food {
      margin: 0.25% 15%;
      width: 75%;
      padding-left: 3%;
    }
  }
  .cafe p {
    width: 85%;
  }
  #animatePages {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-left: 3%;
  }
}

@media only screen and (min-width: 960px) {
  .box2,
  .flex-container,
  #animatePages {
    display: flex;
    flex-direction: row;
  }
  .flex-container {
    .hot,
    .cold,
    .food {
      margin: 3% 0.5%;
      width: 80%;
      padding: 5% 0;
    }
    ul {
      padding-left: 10%;
    }
  }
  .cafe {
    width: 100%;
    p {
      padding: 2em 1%;
      width: 82%;
    }
  }
  .jumbotron {
    .display-4,
    .hours {
      width: 55%;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .jumbotron {
    padding-right: 0;
    .display-4,
    .hours {
      padding-left: 2%;
      width: 40%;
    }
  }
  #animatePages {
    padding-left: 10%;
    a img {
      width: 100%;
    }
  }
  .flex-container {
    .hot,
    .cold,
    .food {
      padding: $padding;
      margin: 2%;
    }
    .hot,
    .cold {
      padding-left: 7%;
      h2 {
        padding-right: 15%;
      }
    }
  }
  .cafe {
    p {
      padding: 2em 3%;
      width: 85%;
    }
  }
}
