<h1> Index Of /webd152/chapter02/pacific/ </h1>
<div>
	<a href="https://claudiceinguanzo.bitbucket.io">Parent Directory</a>
</div>
<div>
<a href="index.htm/index.html">index.html</a>
</div>
<div>
<a href="index.htm/yurts.html">yurts.html</a>
</div>