/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
}
html {
	background-color: #bbe0f1;
}
body {
	word-spacing: .16em;
	line-height: 1.25;
	font-family: Verdana, Geneva, sans-serif;
	background:url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/mts1.png) center bottom repeat-x;
	background: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/cloudMain.png) center top no-repeat,
				url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/cloudScatter.png) 25% 50px repeat-x,
				url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/hills.png)center bottom repeat-x,
				url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/mts2.png) right bottom repeat-x,
				url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/mts1.png) right bottom repeat-x;
}
h1 {
	padding-bottom: .5em;
	color: #069;
}
p {
	padding-bottom: .75em;
}
#container{
	width: 900px;
	margin: 0 auto;
	padding: 150px 0 0 0;
	background: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/birds.png)center 85px no-repeat;
}
#container div{
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin-right: 2em;
	padding: 1em;
}
article{
	margin: 72px 0 0 0;
	background-color: rgba(255,255,255,.8);
	border-radius: 1em;
	padding: 2em;
	border: 2px solid #333;
	-webkit-box-shadow: inset hoff voff blur color;
	box-shadow: 0 0 0 2px #fc3,
				5px 5px 10px 0 rgba(23,88,114,.8) inset,
				10px 10px 20px 0 rgba(6,47,12,.6),
				0 0 0 8px #069;
}
article::after{
	visibility: hidden;
	display:block;
	content: " ";
	clear: both;
	height: 0;
}
/* demo box-shadow divs */
#container div:nth-of-type(1){
	-webkit-box-shadow: inset hoff voff blur color;
   /*box-shadow: -10px -10px;*/
   box-shadow: 0 0 5px 5px #8acf44;
}
#container div:nth-of-type(2){
	-webkit-box-shadow: inset hoff voff blur color;
	box-shadow: 10px 10px 20px 10px #069,
				-10px -10px 10px rgba(243,216,37,.7),
				inset 8px 10px 4px 6px orange,
				inset -8px -16px 4px 6px #9e5907;
}
#container div:nth-of-type(3){
	-webkit-box-shadow: inset hoff voff blur color;
	box-shadow: inset -5px -5px 10px,
				8px 8px #777;
	border-radius: 10px;
}