body {
  background-image: url(https://data.whicdn.com/images/331949847/original.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* main {
  /* display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
section {
  padding: 0 5%;
}
section > p {
  font-size: 20px;
  text-align: center;
}
#wrapper {
  background-color: rgba(255, 255, 255, 0.7);
}
h1 {
  font-size: 50px;
  text-align: center;
}
h2 {
  text-decoration: underline;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.6);
  color: #ffdf00;
  padding: 2%;
}
h3 {
  font-size: 22px;
  font-weight: bold;
}
#name{
  height: 100px;
}
#name h1{
  line-height: 2;
  position: relative;
  animation: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes heading{
  0%{top:-150px}
  100%{top:0px}
}
#content{
  line-height: 2;
  position: relative;
  animation: content;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}
@keyframes content{
  0%{bottom:-750px}
  100%{bottom:0px}
}
footer {
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 2%;
  text-align: center;
  color:white;
}
img {
  width: 100%;
  height: 100%;
}
ul li {
  font-size: 20px;
}
ul:first-child {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(51, 51, 51);
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 1%;
}
nav > ul > li {
  display: inline;
}
nav a:link {
  color: #ffdf00; /*c#5C7fa3*/
}
nav a:visited {
  color: white;
}
nav a:hover {
  color: #ffdf00;
}
a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
.card {
  margin-left: 34%;
  display: inline-block;
  /* position: absolute;
  left: 5%; */
}
.card-text {
  text-align: center;
}
.container {
  margin: 0 3% 0 12%;
}
@media (max-width: 426px) {
  #wrapper{
    width: 100%;
    margin-left: 18%;
  }
  div.container{
  grid-column: auto;
  grid-row: auto;
  margin:0;
  }
div.card{
position: relative; 
right: 30%;
  }
  }

@media (min-width: 600px) {
  nav a{
    font-size: .9em;
  }
  div.container{
  grid-column: auto;
  grid-row: auto;
  margin:0;
  }
  .container h2{
    font-size:  1.5em;
  }
  .container h3{
    font-size: 1.15em;
  }
  .container ul li{
    font-size: 16px;
  }
  div.card{
  position: relative; 
    right: 13%;
  }
}
@media (min-width: 1024px){
  nav a{
    font-size: 1.5em;
  }
  div.container{
  grid-column: auto;
  grid-row: auto;
  margin-left:13%;
  font-size: 19px;
  }
  .container h2{
    font-size:  1.75em;
  }
  .container h3{
    font-size: 1.25em;
  }
  .container ul li{
    font-size: 19px;
  }
  div.card{
  position: relative; 
  left:0%;
  }
}