body {
  background-image: url(https://data.whicdn.com/images/331949847/original.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* main {
  /* display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
section {
  padding: 0 5%;
}
section > p {
  font-size: 20px;
  text-align: center;
}
#wrapper {
  background-color: rgba(255, 255, 255, 0.7);
}
h1 {
  font-size: 50px;
  text-align: center;
}
h2 {
  text-decoration: underline;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.6);
  color: #ffdf00;
  padding: 2%;
}
h3 {
  font-size: 22px;
  font-weight: bold;
}
footer {
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 2%;
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
}
ul li {
  font-size: 20px;
}
ul:first-child {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(51, 51, 51);
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 1%;
}
nav > ul > li {
  display: inline;
}
nav a:link {
  color: #ffdf00; /*c#5C7fa3*/
}
nav a:visited {
  color: white;
}
nav a:hover {
  color: #ffdf00;
}
a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
.card {
  margin-left: 34%;
  display: inline-block;
  /* position: absolute;
  left: 5%; */
}
.card-text {
  text-align: center;
}
.container {
  margin: 0 3% 0 12%;
}
