/*apply to all widths*/
.header{
	padding: 30px 0 20px 0;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/header.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}
.logo{
	font-weight: 600;
	color: rgb(255,209,143);
	background-color: #000;
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	padding-left: 10px;
	z-index: 100;
}
.nav{
	text-align: right;
}
.nav .button{
	width: 48%;
	margin: 2px 0;
}
.button{
	background-color: rgba(255,255,255,.5);
}
.button:hover{
	background-color: rgba(255,255,255,.3);
}
.action{
	text-align: center;
	padding-top: 37px;
}
.action h1{
	margin: 0;
}
.action h2{
	margin: 0 0 20px 0;
}
h1{
	font-size: 3em;
}
h2{
	font-size: 2.5em;
}
@media (min-width: 400px) {
	
}

@media (min-width: 550px) {
	.header{
		padding: 40px 0 50px 0;
	}
	.logo{
		position: static;
		background-color: transparent;
		font-size: 2em;
		line-height: 1;
	}
	.nav .button{
		width: auto;
	}
	h1{
		font-size: 5em;
	}
	h2{
		font-size: 4.2em;
	}
}

@media (min-width: 750px) {
	.logo{
		font-size: 3em;
		position: relative;
		top: 5px;
	}
}

@media (min-width: 1000px) {
	
}

@media (min-width: 1200px) {
	
}