/* CSS Document */
body {
	background-color: #b2d397;
	background-image: url(https://i.pinimg.com/originals/c8/f5/7b/c8f57b3d7ed2cc3d99477f183688b2b4.png);
	background-size: 100%;
	background-repeat: repeat-x;
	background-position: bottom;
	width: 85%;
	margin: 1em auto 0;
	font: 90%/1.5 'Comfortaa', cursive;
}
h1 {
	font-family: 'Comfortaa', cursive;;
	font-size: 2.8em;
	font-weight: bold;
	color: #0D1F59;
}
button {
    text-transform: uppercase;
}
.blue-eyes .eye-color {
	fill: #175282;	
}

.sad .mouth{
	transform: rotate(180deg) scale(.5);
	transform-origin: 340px 390px;
}

@keyframes moveEyes{
	20%{
		transform:translate(-18px, -20px);
	}

	40%{
		transform:translate(0,0);
	}

	65%{
		transform:translate(18px,-20px);
	}
}

.move-around .inner-eye-group{
	animation: moveEyes 12s infinite;
}

@keyframes leftWhiskers{
	20%{
		transform: rotate(5deg);
	}

	60%{
		transform: rotate(-5deg);
	}
}

.move-around .left-whiskers{
	animation: leftWhiskers 3s infinite;
	transform-origin: 325px 350px;
}

@keyframes rightWhiskers{
	5%{
		transform: rotate(-2deg);
	}

	90%{
		transform: rotate(7deg);
	}
}

.move-around .right-whiskers{
	animation: rightWhiskers 3s infinite;
	transform-origin: 325px 350px;
}

@keyframes move{
	20%{
		transform: rotateY(10deg) rotateX(10deg);
	}

	40%{
		transform: rotateY(25deg) rotateX(10deg);
	}

	60%{
		transform: rotateY(-10deg) rotateX(-10deg);
	}

	85%{
		transform: rotateY(-10deg) rotateX(-16deg);
	}
}

.move-around{
	animation: move 8s infinite;
}

.svg-container{
	perspective: 1000px;
}

.row{
	display: flex;
}
.column{
	flex:50%;
	background-color: #b2d397;
	padding: 15px;
}

@media screen and (max-width: 600px) {
.row{
	display: flex;
	flex-direction: column;
}
.column{
	width: 100%;
	background-color: #b2d397;
	padding: 15px;
}
  }