* {
	box-sizing: border-box;
}
body{
	background-color: #B8DBED;
	
	color: #666;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#wrapper{
	background-color: #90C7E3;
	background-image: linear-gradient(to bottom, #FFF, #90C7E3);
	background-repeat: no-repeat;
}

header{
	background-color: #003;/*bgc#003*/
	color: #fff;/*c#fff*/
	text-align: center;/*txav*/
}
header a{
	text-decoration: none;/*tdn*/
}
header a:link{
	color: #fff;/*c#fff*/
}
header a:visited{
	color: #fff;/*c#fff*/
}
header a:hover{
	color: #90C7E3;/*c#90C7E3*/
}
nav{
	/*background-color: #90c7e3;*/
	/*float: left;/*fl*/
	text-align: center;/*tac*/
	font-size: 1em;/*fz120%*/
	font-weight: bold;/*fwb*/
	padding: 0;/*p1.em*/
	line-height: 1.5;
}
nav ul{
	list-style-type: none;/*listn*/ 
	margin: 0;/*m0*/
	padding-left: 0;/*pl0*/  
	font-size: 1.2em;/*fz1.2em*/ 
}
nav li{
	border-bottom: 1px solid #003;/*bb1pxsolid#003*/
}
nav a{
	font-weight: bold;/*fwb*/
	padding: 10px;/*p10*/
	text-decoration: none;/*tdn*/
	transition: color 3s ease-out;

}
nav a:link{
	color: #5C7fa3;/*c#5C7fa3*/
}
nav a:visited{
	color: #344873;/*c#344873*/
}
nav a:hover{
	color: #a42A2a/*c#a42A2a*/
}
main{
	background-color: #fff;/*bgc#fff*/
	display: block;
	padding-left: 30px;
	padding: 1px 20px 20px 30px;/*p1-20-20-30*/
	overflow: auto;
}
main ul{

	list-style: none;
}
h1,h2,h3,footer{
	font-family: Georgia, "Times New Roman", serif;
}
h1{
	letter-spacing: .25em;/*lts.25em*/
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 0.5em;/*pt0.5em*/
	padding-bottom: 0.5em;/*pb0.5em*/
}
h1 a:nth-of-type(2){
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/homeicon.png);
	background-repeat: no-repeat;
	display: block;
	float: left;
	width: 68.8px;
	height: 68.8px;
	position:absolute;
	top:1.2%;
}/*this is for the home icon button*/
h2{
	color: #39c;
	text-shadow: 1px 1px 1px #ccc;
}

dt{
	color: #003;
}
footer{
	background-color: #fff;/*bgc#fff*/
	font-size: 75%;
	font-style: italic;
	text-align: center; 
	padding: 20px;

}
ol{
	list-style-type: upper-roman;
}
#about, #reserve{
	padding-top: 65px;
}/*This is so that there is no background color shown between the footer and main for about us  and reservation page*/
.resort{
	color: #5C7fa3;
	font-weight: bold;
}

#contact{
	font-size: 90%;
}
#homehero{
	height: 300px;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/coast2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#yurthero{
	height: 300px;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/yurt.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#trailhero{
	height: 300px;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/trail.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;

}
#abouthero{
	height: 300px;
	background-image: url(https://images.unsplash.com/photo-1511715885542-a3713331633d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
table{
	border: 2px solid #39c;
	border-collapse: collapse;
}
td, th{
	padding: 0.5em;
	border: 2px solid #39c;
}
td{
	text-align: center;
}
.text{
	text-align: left;
}
tr:nth-last-of-type(odd){
	background-color: #f5fafc;
}

form{
	display: flex;
	flex-flow: column nowrap;
}
input, textarea{
	margin-bottom: 0.5em;
}
video, embed{
	float: right;
	padding-left: 20px;
}

/*Create a global style for the gallery image img element*/
.gallery-image img{
	border: 2px solid pink;
	width: 100%;
	height: 100%;
	text-align: center;
}
.info img{
		width: 100%;
		height: 100%;
	}/*global size for about us page image*/
.ourmission{
	padding-left: 0;
}
.ourmission p{
		line-height: 1.5;
		padding-left: 0;
	} /*global line height for our mission <p>*/
.ourmission ul li{
	line-height: 1.25;
	list-style: circle;
}

@media (min-width: 600px) {


	nav ul{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	nav li{
		border-bottom: none;
	}
	section{
		padding-left: 2em;
		padding-right: 2em;
	}
	.content main{
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr 1fr;
	}
	h2{
			grid-row: 1/2; grid-column: 1/5;
		}
		.activities {
			grid-row: 2/3; grid-column: auto;
		}
		.gallery{
			grid-row: 3 / 4; grid-column: 1/4;
		} /*adding another row to an existing grid*/
		.info{
			grid-row: 2/3; grid-column:auto;
		}/*grid for abous us pgae*/
		.ourmission{
		grid-row: 2/3; grid-column:1/3;
		list-style-type: none;
	}/*grid spot for our mission section*/
		#special{
			grid-row: auto; grid-column: 1/5;
		}
		footer{
			grid-row: auto; grid-column: 1/5;
		}
	form{
		display: grid;
		grid-gap: 1em;
		gap: 1em;
		grid-template-columns: 6em 1fr;
		grid-template-rows: auto;
		width: 60%;
	}
	input[type="submit"]{
		grid-column: 2/3;
		width: 9em;
	}
}




@media (min-width: 1024px){


	nav ul{
		display: flex;
		flex-flow: column;
		padding-top: 1em;
	}
	nav{
		text-align: left;
		padding-left: .5em;
	}
	#wrapper{
		margin: auto;
		width: 80%;
		border: 1px solid #000033;
		box-shadow: 1px 1px #000033;
		display: grid;
		grid-template-columns: 180px auto;
		grid-template-rows: auto;
	}
	.gallery{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
		padding: 10px;
		grid-template-rows: auto;
	}
	header{
		grid-row: 1/2; grid-column: 1/3;

	}
	nav{
		grid-row: 2/5; grid-column: 1/2;
	}
	.hero{
		grid-row: 2/3; grid-column: 2/3;
	}
	.activities{
		grid-row: 3/4; grid-column:auto;
	}.info{
		grid-row: 2/3; grid-column:auto;
	}
	.aboutheader{
		grid-row: 1/2; grid-column:1/3;
	}
	.ourmission{
		grid-row: 2/3; grid-column:1/3;
	}/*grid spot for our mission section*/
	
	.gallery{
		grid-row: 4/5; grid-column: 1/4; /*add in another row to our grid*/
	}
	footer{
		grid-row: 4/5; grid-column: 2/3;
	}
}



@media (max-width: 426px) {


	section td, section th {
		display: block;
	}
	section table {
		margin-right: auto;
		margin-left: auto;
	}
	section th{
		height: 0;
		margin: 0;
		padding: 0;
		font-size: 0;
		border: none;
		overflow: hidden;
	}
	h1{
		padding-left: 18%;
	}
	h1 a:nth-of-type(2){
	top:5%;
	left: 2%;
	}
	td.package::before{
		content: "Package: ";
	}
	td.description::before{
		content: "Description: ";
	}
	td.nights::before{
		content: "Nights: ";
	}
	td.cost::before{
		content: "Cost: ";
	}
	.package, .description, .nights, .cost{
		width: 100%;
		padding-left: 35%;
		position: relative;
		text-align: left;
	}
	td::before{
		width: 25%;
		display: block;
		padding-right: 10px;
		position: absolute;
		top: 6px;
		left: 1em;
		color: #39c;
		font-weight: bold;
		white-space: nowrap;
	}


}