body{
	background-color: #90C7E3;
	background-image: linear-gradient(to bottom, #FFF, #90C7E3);
	background-repeat: no-repeat;
	color: #666;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#wrapper{
	background-color: #FFF;
	box-shadow: 3px 3px 3px #333;
	margin: auto;
	min-width: 960px;
	max-width: 2048px;
	width: 80%;
}
header{
	background-color: #003;
	
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/sunset.jpg);
	background-position: right;
	background-repeat: no-repeat;
	color: #fff;
	height: 60px;
	padding-top: 15px;
	text-align: center;
}
nav{
	/*background-color: #90c7e3;*/
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
nav a{
	text-transform: none;
}
main{
	padding: 1px 20px 20px;
}
h1,h2,h3,footer{
	font-family: Georgia, "Times New Roman", serif;
}
h1{
	margin-bottom: 0;
	margin-top: 0;
}
h2{
	color: #39c;
	text-shadow: 1px 1px 1px#ccc;
}
ul{
	list-style: none;
}
dt{
	color: #003;
}
footer{
	font-size: 75%;
	font-style: italic;
	text-align: center; 
	padding: 20px;

}
.resort{
	color: #5C7fa3;
	font-weight: bold;
}
#contact{
	font-size: 90%;
}
#homehero{
	height: 300px;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/coast2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#yurthero{
	height: 300px;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/yurt.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#trailhero{
	height: 300px;
	background-image: url(https://bitbucket.org/claudiceinguanzo/claudiceinguanzo.bitbucket.io/downloads/trail.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}